body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #e48e0e;
    color: #eef4f6;
    padding: 1rem;
    text-align: center;
}

header nav ul {
    list-style-type: none;
    padding: 0;
}

header nav ul li {
    display: inline;
    margin: 0 1rem;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
}

main {
    padding: 2rem;
}

.product {
    text-align: center;
    margin-bottom: 2rem;
}

.product img {
    max-width: 100%;
    height: auto;
}

.product button {
    background-color: #5b2727;
    color: #fff;
    border: none;
    padding: 0.5rem 1rem;
    cursor: pointer;
}

footer {
    background-color: #06040e;
    color: #97e20d;
    text-align: center;
    padding: 1rem;
    position: fixed;
    width: 100%;
    bottom: 0;
}